<!DOCTYPE html>
<html>
<head>
    <title>Поиск билетов</title>
</head>
<body>
    <h1>Поиск билетов</h1>
    <form method="post">
        <label for="departure_date">Дата отбытия:</label>
        <input type="date" id="departure_date" name="departure_date" value="{{ departure_date }}">
        <br>
        <label for="departure">Место отбытия:</label>
        <input type="text" id="departure" name="departure" value="{{ departure }}">
        <br>
        <label for="destination">Место прибытия:</label>
        <input type="text" id="destination" name="destination" value="{{ destination }}">
        <br>
        <button type="submit">Поиск</button>
    </form>
    <h2>Результаты:</h2>
    {% if tickets %}
        <table border="1">
            <tr>
                <th>ID Билета</th>
                <th>Авиакомпания</th>
                <th>Стоимость</th>
                <th>Тип</th>
                <th>Время вылета</th>
                <th>Путь</th>
            </tr>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.airline }}</td>
                    <td>{{ ticket.fare }}</td>
                    <td>{{ ticket.type }}</td>
                    <td>{{ ticket.flight_time }}</td>
                    <td>{{ ticket.route }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Нет результатов.</p>
    {% endif %}
</body>
</html>