<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<div class="flex flex-col min-h-screen">
  <header class="bg-gradient-to-r from-purple-500 to-red-600 shadow-lg">
    <div class="container mx-auto px-6 py-4 flex justify-between items-center">
      <h1 class="text-3xl font-extrabold text-white tracking-tight">{{ first_name }}</h1>
      <nav class="space-x-6">
        <a href="/" class="text-white hover:text-yellow-300 transition duration-200">Главная</a>
        <form action="/logout" method="post" class="inline">
          <button type="submit" class="text-white hover:text-yellow-300 transition duration-200">Выйти</button>
        </form>
      </nav>
    </div>
  </header>

  <div class="flex flex-col items-center justify-center flex-1 bg-gradient-to-br from-purple-400 via-pink-500 to-red-500">
    <div class="bg-white rounded-lg shadow-lg p-6 mb-8 w-full max-w-3xl">
      <h2 class="text-xl font-bold text-gray-800 mb-4">Информация</h2>
      <div class="space-y-4">
        <p><span class="font-semibold">Номер паспорта:</span> {{ passport_number }}</p>
        <p><span class="font-semibold">Серия паспорта:</span> {{ passport_series }}</p>
        <p><span class="font-semibold">Имя:</span> {{ first_name }}</p>
        <p><span class="font-semibold">Фамилия:</span> {{ last_name }}</p>
        <p><span class="font-semibold">Отчество:</span> {{ middle_name }}</p>
        <p><span class="font-semibold">Электронная почта:</span> {{ email }}</p>
      </div>
    </div>

    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-3xl">
    {% if tickets %}
      <h2 class="text-xl font-bold text-gray-800 mb-4">Купленные билеты</h2>
      {% for ticket in tickets %}
        <div class="grid grid-cols-1 gap-6 w-full max-w-3xl">
          <div class="bg-white rounded-lg shadow-lg p-6">
            <h2 class="text-xl font-bold text-gray-800">
              <a href="tickets/{{ ticket.id }}">
                Авиакомпания «{{ ticket.airline }}»
              </a>
            </h2>
            <p class="mt-2 text-gray-600">Цена билета: <span class="font-semibold text-lg text-green-500">{{ ticket.fare }} ₽</span></p>
            <p class="mt-1 text-gray-600">Маршрут: <span class="font-semibold">{{ ticket.route }}</span></p>
            <p class="mt-1 text-gray-600">Дата перелета: <span class="font-semibold">{{ ticket.flight_time }}</span></p>
            <p class="mt-1 text-gray-600">Класс: <span class="font-semibold">{{ ticket.type }}</span></p>
            <div class="mt-4">
              {% if redirect_route == "/cashiers/sale_ticket" %}
                <a href="{{ redirect_route }}/{{ ticket.id }}" class="w-1/5 py-2 px-4 bg-gradient-to-r from-red-500 to-orange-500 text-white rounded-md hover:from-red-400 hover:to-orange-400 text-center block transition duration-300">
                  Купить билет
                </a>
              {% else %}  
                <a href="{{ redirect_route }}" class="w-1/5 py-2 px-4 bg-gradient-to-r from-red-500 to-orange-500 text-white rounded-md hover:from-red-400 hover:to-orange-400 text-center block transition duration-300">
                  Купить билет
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
        <p class="text-gray-600">У вас нет купленных билетов.</p>
    {% endif %}
    </div>
</div>
</div>